{% extends 'base.html' %}


{% block title %}Commonology | About{% endblock %}

{% block page_style %}
  <style>
  .about-sm {
    display: none;
    margin-top: 0;
  }

  /* Tiny screens */
  @media only screen and (max-width: 400px) {
    .about-lg {
      display: none;
    }
    .about-sm {
      display: block;
      padding-bottom: 24px;
    }
  }
  </style>
{% endblock %}

{% block content %}
  <div class="content">

  <h2 class="w3-margin-bottom w3-container" style="vertical-align:bottom;">
  <img src="{% v_static 'img/logo.svg' %}" class="w3-padding-24"> is a <span style="font-weight:bold;font-style:italic;font-size:1.2em;">fun</span> and <span style="font-weight:bold;font-style:italic;font-size:1.2em;">simple</span> battle of the minds that only takes 2 minutes to play.
</h2>

  <div class="w3-row" style="padding: 16pt"></div>
    <div class="w3-cell-row w3-border-teal w3-round w3-padding">
      <div class="w3-cell w3-padding-16 w3-container w3-center">
        <i class="fas fa-rocket fa-5x" style="color:#237073"></i>
      </div>
      <div class="w3-cell w3-cell-middle">
        <h3 class="w3-container">
          1. We launch the game
        </h3>
        <h6 class="about-lg w3-container">We come up with 10 simple questions and start the game each Wednesday at noon EST.
          You have until that Friday at 11:59pm to answer!</h6>
      </div>
    </div>
    {#  Small screens shift text below icon and header #}
    <h6 class="about-sm w3-container">We come up with 10 simple questions and start the game each Wednesday at noon EST.
          You have until that Friday at 11:59pm to answer!</h6>
    <div class="w3-row" style="padding: 8pt"></div>
    <div class="w3-cell-row w3-border-teal w3-round w3-padding" style="background: #f7f8f9">
      <div class="w3-cell w3-cell-middle">
        <h3 class="w3-container">
          2. Fill out your answers
        </h3>
        <h6 class="about-lg w3-container">
          The goal is to guess the MOST COMMON answer to a question.
          Do you go with your gut or defy it? You can Google it, but no
          discussing answers with other players!
        </h6>
      </div>
      <div class="w3-cell w3-padding-16 w3-container w3-center">
        <i class="far fa-lightbulb fa-6x" style="color:#237073"></i>
      </div>
    </div>
    {#  Small screens shift text below icon and header #}
    <h6 class="about-sm w3-container" style="background: #f7f8f9;">The goal is to guess the MOST COMMON answer to a question.
          Do you go with your gut or defy it? You can Google it, but no
          discussing answers with other players!</h6>
    <div class="w3-row" style="padding: 8pt"></div>
    <div class="w3-cell-row w3-border-teal w3-round w3-padding">
      <div class="w3-cell w3-padding-16 w3-container w3-center">
        <i class="fas fa-award fa-6x" style="color:#237073"></i>
      </div>
      <div class="w3-cell w3-cell-middle">
        <h3 class="w3-container">
          3. Find yourself on the leaderboard
        </h3>
        <h6 class="about-lg w3-container w3-mobile">
          We tabulate the results and publish the leaderboard
          on Monday. You get one point for everyone that answers the same as you
          on each question.
        </h6>
      </div>
    </div>
    {#  Small screens shift text below icon and header #}
    <h6 class="about-sm w3-container">
          We tabulate the results and publish the leaderboard
          on Monday. You get one point for everyone that answers the same as you
          on each question.</h6>
    <div class="w3-row" style="padding: 8pt"></div>
    <div class="w3-cell-row w3-border-teal w3-round w3-padding" style="background: #f7f8f9">
      <div class="w3-cell w3-cell-middle">
        <h3 class="w3-container">
          4. Tell all your friends
        </h3>
        <h6 class="about-lg w3-container">
          You probably did really well so you should rub it in. Or maybe
          you can't believe people <i>actually</i> like grape soda. The game
          makes a great icebreaker!
        </h6>
      </div>
      <div class="w3-cell w3-padding-16 w3-container w3-center">
        <i class="far fa-comments fa-6x" style="color:#237073;"></i>
      </div>
    </div>
    {#  Small screens shift text below icon and header #}
    <h6 class="about-sm w3-container" style="background: #f7f8f9">You probably did really well so you should rub it in. Or maybe
          you can't believe people <i>actually</i> like grape soda. The game
          makes a great icebreaker!</h6>

      <div class="w3-cell-row w3-padding-large w3-center" style="width:100%;margin-top:48px;">
    {% if game_is_on %}
    <a style="text-decoration:none;" href="{% url 'game:play' %}">
      <button class="w3-button cg-salmon w3-round-xxlarge" style="width:60%">Play Now!</button>
    </a>
    {% else %}
    <a style="text-decoration:none;" href="{% url 'leaderboard:current-results' %}">
      <button class="w3-button cg-salmon w3-round-xxlarge" style="width:60%">Latest Results</button>
    </a>
      <p>The next game begins on Wednesday!</p>
    {% endif %}
    </div>
  </div>

{% endblock %}