<!--multi_card_view.html-->

{% extends 'base.html' %}
{% load static %}

{% block navbar %}
  {% include 'components/navbar.html' %}
{% endblock %}

{% block app_style %}
  <link rel="stylesheet" href="{% static 'css/users/base.css' %}">
  <link rel="stylesheet" href="{% static 'users/css/form_style.css' %}?v=1.2">
{% endblock %}

{% block content %}

  <div class="content card-content">

    <br/><br/>

    {# --- Simple cards-on-screen view with default card --- #}
    {% block cards %}
      {% for card in cards %}
        {{ card }}
        <div class="w3-padding"></div>
      {% endfor %}
    {% endblock %}

  </div>

{% endblock %}