<!--multi_card_view.html-->

{% extends 'base.html' %}


{% block navbar %}
  {% include 'components/navbar.html' %}
{% endblock %}

{% block app_style %}
{#  <link rel="stylesheet" href="{% v_static 'users/css/form_style.css' %}">#}
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
{% endblock %}

{% block content %}

  <div class="content card-content">

    <br/><br/>

    {# --- Simple cards-on-screen view with default card --- #}
    {% block cards %}
      {% for card in cards %}
        <div class="w3-padding-16"></div>
      {% include 'cards/base_card.html' with header=card.header chart=card.chart custom_message=card.custom_message%}
    {% endfor %}
    {% endblock %}

  </div>

{% endblock %}