
    <h2>
      What do we have in common?  Or, what do we <span style="font-weight:bold;font-style:italic;font-size:1.2em;">think</span> we have in common?
    </h2>

       <div style="padding: 0 10px">


       <div class="w3-row" style="padding: 8pt"></div>

        When Covid-19 first broke out and we were all sent to our proverbial rooms, we spent our time technically in isolation, yet in a predicament we all had in common.

       <div class="w3-row" style="padding: 8pt"></div>
        We used the first couple of months to connect with friends through Zoom and FaceTime. Eventually though, we all found ourselves over the ongoing conversation of when Covid would end and what might happen in the upcoming election. The group Zoom hangout morphed into more of a Zoom happy hour to drown our collective sorrows. We needed something new to talk about. We missed our trivia nights at our local bars and game nights at our friends’ houses. Commonology gave us content - something other than a pandemic that we could all share - a game all about all the other things we have in common.

       <div class="w3-row" style="padding: 8pt"></div>
        Commonology started as a chain email game. During this unprecedented modern era, it felt comforting to reminisce on a simpler time like the 90s, when chain emailing was the pre-social media way to connect with a wide web of contacts. Our first game started in July 2020 with just 32 players in a test round. The following week we had grown to 64 players. Those early gamers represented Maryland, DC, and Colorado. Most of them knew each other by just 1 or 2 degrees of separation. Today, we have gamers from nearly every U.S. state and Canada. There are a handful of expats playing from their international perches as well.

       <div class="w3-row" style="padding: 8pt"></div>
        Commonology isn’t just a game to play and share, but the questions are all about the various things we share in this life. And, while they’re proof that lots of us have lots in common, they also seem to spark some steep debates. Players tell us regularly that Commonology is the reason they text their family every week. Groups of friends send in screenshots of their Commonology discussion. This game has kept people together through mandated quarantine and introduced new people during a time when networking and mingling has been halted.

       <div class="w3-row" style="padding: 8pt"></div>
        Alex and Marc met as the game began to grow in a quintessential Commonology way - Marc is Alex’s husband’s cousin’s friend’s boyfriend’s dad. Many players probably share similar lines of friendship. Marc came with Ted and together joined Alex in scaling the game to meet the needs of the ever-growing Commonology community.

       <div class="w3-row" style="padding: 8pt"></div>
        Our game is no longer an email chain - though we’ll remember those days fondly - and our comments section now enables our players to share their familial conversations with wider audiences of players. Gamers engage with friends and strangers about the questions each week - sharing their shock at the most common answers, and celebrating their victories. A game that was once manually scored is now automated. Weekly winners and their pets are highlighted on our website, and “super spreaders” (players that have referred 10+ members) now enjoy their morning coffee out of Commonology mugs.

        <div class="w3-row" style="padding: 8pt"></div>
        As time goes on, and some of normal life resumes, Commonology has stayed constant. In a world where we have to make 1000 decisions a week (be it how much toilet paper to purchase, or whether or not to hold your next meeting in person), we believe 10 of them should be fun! Apparently nearly 1800 players each week agree!


   </div>
  <div class="w3-cell-row w3-border-teal w3-round w3-padding w3-margin-bottom">
      <span class="w3-cell w3-cell-middle">
        <h6 class="w3-container">
        <span style="font-weight:bold;font-style:italic;font-size:1.2em;">BEWARE:</span>  You may end up talking to your friends and family about things other than news events or politics.
        </h6>
      </span>
   </div>
