
<h1>Collected and Possibly Shared Information</h1><br>
      <i>A privacy policy</i>
<p>
The obvious information we collect is answers to game questions.  Also obvious is player profile information
including email address, name, location, and birthday.
</p>
<p>
Information may be extracted by third party services we use.  Our pages are tracked by Google Analytics
and on some forms we use Google Captcha services as an attempt to limit unwanted internet robots from interacting
with our site. You would have to read Google privacy documenation to better understand how they may use information.
Other third party hosting and infrastructure service providers are used and have access to our data but are not
expected to share it.
</p>
<p>
We share public game players' names, or designated screen names, with the public on our leaderboards.
Our results page lists all responses without indicating who entered them. You can enter
a silly response and expect that only you will know that you
entered it.

</p>
<p>
We will not share email addresses or personal information, other than your Name or Display Name as
listed on our leaderboard, with any other entity. Future changes to this policy would not apply
to data collected up to that point in time without permission.
</p>
<p>
All conversation messages are shared with anyone who can see game results pages.
</p>