
 <style>
  .about-sm {
    display: none;
    margin-top: 0;
  }

  /* Tiny screens */
  @media only screen and (max-width: 400px) {
    .about-lg {
      display: none;
    }
    .about-sm {
      display: block;
      padding-bottom: 24px;
    }
  }
  </style>


{% block content %}
  <div class="w3-center">
      <h2 class="w3-margin-bottom w3-container" style="vertical-align:bottom;">
      <img src="project/static/img/logo.svg" class="w3-padding-24">

         <p>
             is a <span style="font-weight:bold;font-style:italic;font-size:1.2em;">fun</span> and
             <span style="font-weight:bold;font-style:italic;font-size:1.2em;">simple</span>
             battle of the minds that only takes 2 minutes to play.
         </p>
    </h2>

    <p><img src="{% qr_url rcode %}" /></p>

    <p>Or play with us at CommonologyGame.com.</p>
  </div>
{% endblock content %}