<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600">
</head>
<body>
  <div style="text-align:center">
    <img src="https://commonologygame.com/static/img/logo.svg" width="70%">
    <h2 style="vertical-align:bottom;">
         <p>
             is a <span style="font-weight:bold;font-style:italic;font-size:1.2em;">fun</span> and
             <span style="font-weight:bold;font-style:italic;font-size:1.2em;">simple</span>
             battle of the minds<br>that only takes 2 minutes to play.
         </p>
         <p>
             Try to predict what others will say is most popular.
         </p>
    </h2>

    <p><img src="{% qr_url rcode %}" /></p>

    <h2 style="vertical-align:bottom;">
        <p>Play with us at CommonologyGame.com.</p>
    </h2>
  </div>
</body>
</html>