
    <div class="w3-container w3-center">
        <h2>Commonology Raffle Rules</h2>
        <i>The not so fine print.</i>
    </div>


        <div class="w3-row" style="padding: 12pt"></div>


        <h3 class="w3-container">
        We’re giving away $100 every week starting with Game 67 until further notice.
        </h3>

        <h6 class="about-sm w3-container">
        Starting with Game 67, every game is another chance to win. Each week we’ll give a $50 Amazon gift card to a randomly selected player AND the player who referred them! That means the more players you refer, the more chances you have to win. Did playing Commonology just get even more fun? Why yes, yes it did.
        </h6>
        <div class="w3-row" style="padding: 12pt"></div>
            <h3 class="w3-container">
        Official Rules
        </h3>

        <ol>
            <li>If a winner has no referrer, the winner does not claim the referrer prize.</li>
            <li>If there is any discrepancy on who the winner’s referrer is, the winner has the final say.</li>
            <li>The winner’s referrer must also play the week the winner won in order to claim the prize.</li>
            <li>Total disbursements to any recipient is limited to $559.00 per year.</li>
            <li>You must have a validated email prior to the raffle.</li>
        </ol>

      <div class="w3-row" style="padding: 12pt"></div>