{% extends 'base.html' %}


{% block title %}Commonology | Sponsor a Game{% endblock %}

{% block page_style %}
  <style>
  .about-sm {
    display: none;
    margin-top: 0;
  }

  /* Tiny screens */
  @media only screen and (max-width: 400px) {
    .about-lg {
      display: none;
    }
    .about-sm {
      display: block;
      padding-bottom: 24px;
    }
  }
  </style>
{% endblock %}

{% block content %}
  <div class="content">

  <h2 class="w3-margin-bottom w3-container" style="vertical-align:bottom;">
      <img src="{% v_static 'img/logo.svg' %}" class="w3-padding-24"> is looking for <span style="font-weight:bold;font-style:italic;font-size:1.2em;">sponsors</span>
      so we can continue to offer the game for <span style="font-weight:bold;font-style:italic;font-size:1.2em;">free.</span>
</h2>

  <div class="w3-row" style="padding: 16pt"></div>
    <div class="w3-cell-row w3-round cg-padding" style="background:#f7f8f9">
      <div class="w3-cell w3-padding-16 w3-container w3-center">
        <i class="fas fa-bullseye fa-5x" style="color:#237073"></i>
      </div>
      <div class="w3-cell w3-cell-middle">
        <h3 class="w3-container">
          Focused reach.
        </h3>
        <h6 class="about-lg w3-container">As you can tell we don't clutter our site with ads, and we like it that way. We
        give your brand a clean canvas so it's seen on the leaderboard, results, and game form itself.</h6>
      </div>
    </div>
    {#  Small screens shift text below icon and header #}
    <h6 class="about-sm w3-container" style="background: #f7f8f9;">As you can tell we don't clutter our site with ads, and we like it that way. We
        give your brand a clean canvas so it's seen on the leaderboard, results, and game form itself.</h6>
    <div class="w3-row" style="padding: 8pt"></div>
    <div class="w3-cell-row w3-border-teal w3-round cg-padding">
      <div class="w3-cell w3-cell-middle">
        <h3 class="w3-container">
          On our site, and in inboxes.
        </h3>
        <h6 class="about-lg w3-container">
          We send 3 emails every week to over 5k subscribers. Here you'll have the opportunity to present your message
          alongside crucial game announcements.
        </h6>
      </div>
      <div class="w3-cell w3-padding-16 w3-container w3-center">
        <i class="fas fa-mail-bulk fa-5x" style="color:#237073"></i>
      </div>
    </div>
    {#  Small screens shift text below icon and header #}
    <h6 class="about-sm w3-container">
      We send 3 emails every week to over 5k subscribers. Here you'll have the opportunity to present your message
      alongside crucial game announcements.</h6>
    <div class="w3-row" style="padding: 8pt"></div>
    <div class="w3-cell-row w3-border-teal w3-round cg-padding" style="background:#f7f8f9">
      <div class="w3-cell w3-padding-16 w3-container w3-center">
        <i class="fas fa-hand-holding-heart fa-5x" style="color:#237073"></i>
      </div>
      <div class="w3-cell w3-cell-middle">
        <h3 class="w3-container">
          Good clean fun.
        </h3>
        <h6 class="about-lg w3-container w3-mobile">
          Nobody like popups, popunders, interstitials, click bait, autoplay videos, or any other
          annoying click-hacking ads. Sponsoring with us is unobtrusive, and enables our community to have fun.
        </h6>
      </div>
    </div>
    {#  Small screens shift text below icon and header #}
    <h6 class="about-sm w3-container" style="background: #f7f8f9">
         Nobody like popups, popunders, interstitials, click bait, autoplay videos, or any other
          annoying click-hacking ads. Sponsoring with us is unobtrusive, and enables our community to have fun.
    </h6>
    <div class="w3-row" style="padding: 8pt"></div>
    <div class="w3-cell-row w3-border-teal w3-round cg-padding">
      <div class="w3-cell w3-cell-middle">
        <h3 class="w3-container">
          Your message, our voice.
        </h3>
        <h6 class="about-lg w3-container">
          We'll work with you to make sure the messaging is authentic and genuinely "Alex". We're looking for partners,
          and want it to be a good fit for both of us.
        </h6>
      </div>
      <div class="w3-cell w3-padding-16 w3-container w3-center">
        <i class="far fa-grin-alt fa-5x" style="color:#237073;"></i>
      </div>
    </div>
    {#  Small screens shift text below icon and header #}
    <h6 class="about-sm w3-container" >
        We'll work with you to make sure the messaging is authentic and genuinely "Alex". We're looking for partners,
          and want it to be a good fit for both of us.
    </h6>
    <div class="w3-row" style="padding: 8pt"></div>
    <div class="w3-cell-row w3-border-teal w3-round cg-padding" style="background:#f7f8f9">
      <div class="w3-cell w3-padding-16 w3-container w3-center">
        <i class="fas fa-mobile-alt fa-5x" style="color:#237073"></i>
      </div>
      <div class="w3-cell w3-cell-middle">
        <h3 class="w3-container">
          Sound interesting?
        </h3>
        <h6 class="about-lg w3-container w3-mobile">
          We think so too. For more info about the opportunity, shoot an email to Ted at
      <a href="mailto:ted@commonologygame.com">ted@commonologygame.com</a>
            and we can talk nitty-gritty and work something out!
        </h6>
      </div>
    </div>
    {#  Small screens shift text below icon and header #}
    <h6 class="about-sm w3-container" style="background: #f7f8f9">
          We think so too. For more info about the opportunity, shoot an email to Ted at
      <a href="mailto:ted@commonologygame.com">ted@commonologygame.com</a>
            and we can talk nitty-gritty and work something out!</h6>
    </div>
   <div class="w3-row" style="padding: 32px"></div>


{% endblock %}