{% extends 'base.html' %}
{% load static %}

{% block page_style %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
  <script src="{% static 'js/charts.js' %}" type="text/javascript"></script>
{% endblock %}

{% block navbar %}
  {% include 'components/navbar.html' %}
{% endblock %}

{% block content %}
  <div class="content">

    <div class="w3-padding-16"></div>
    {% include 'cards/base_card.html' with header="Member Growth" chart=chart_1 %}

    <div class="w3-padding-16"></div>
    {% include 'cards/base_card.html' with header="Month over Month Growth" chart=chart_2 %}

  </div>
{% endblock %}
