
    <h2>
      What do we have in common?  Or, what do we <span style="font-weight:bold;font-style:italic;font-size:1.2em;">think</span> we have in common?
    </h2>

        <div style="padding: 0 10px">

        <div class="w3-row" style="padding: 8pt"></div>

        <h3 class="w3-container">
        Josh
        </h3>

        <h6 class="about-sm w3-container">
        “I am on vacation with my wife’s family.  We all discussed our answers on Saturday night and are excited to get the results. I think we have 6 or 7 people in this house who all played” — Joshua Louis Simon - Brooklyn, NY
        </h6>

        <div class="w3-row" style="padding: 8pt"></div>
        <h3 class="w3-container">
        Kristen
        </h3>

        <h6 class="about-sm w3-container">
        "As a two-time winner, I cannot rave about this game enough! Commonology has brought so much fun into an otherwise challenging and scary year. It makes it easy to connect with friends I can't see every week and it's helped me get to know good friends even better! It's been so exciting to watch this game grow from a couple dozen to a couple thousand people and I can't wait to see what else is in store." Kristen C - Denver, CO
        </h6>

        <div class="w3-row" style="padding: 8pt"></div>
        <h3 class="w3-container">
        Jillian
        </h3>

        <h6 class="about-sm w3-container">
        Commonology is a fun weekly opportunity to connect with both close friends and acquaintances!  There is a small spark of joy when the new weekly Commonology survey hits my inbox every Wednesday, and eager anticipation for results on Monday afternoons.  The questions are fun and sometimes spark silly debates with strong opinions, and seeing my friends on the leaderboard is a fun reason to stay connected throughout the weeks when I may not otherwise reach out.
        I love it and sincerely appreciate the time and effort the team puts in every week to facilitate and to continually improve the experience for users!  Great job!! - Jillian C - Washington DC
        </h6>

        <div class="w3-row" style="padding: 8pt"></div>
        <h3 class="w3-container">
        Camp Chipinaw
        </h3>

        <h6 class="about-sm w3-container">
        “Group leaders and staff members from Camp Chipinaw of all ages and backgrounds became closer with each other through Commonology. They learned about each other’s thoughts each week when discussing answers and had their own group debates! The friendly competition between each other each week grew and conversations still continue even after camp!” — Melanie Cohen
        <br>
        <img src="{% v_static 'img/chipinaw.jpeg' %}" class="w3-padding-24">

        </h6>


   </div>
  <div class="w3-cell-row w3-border-teal w3-round w3-padding w3-margin-bottom">
      <span class="w3-cell w3-cell-middle">
        <h6 class="w3-container">
        <span style="font-weight:bold;font-style:italic;font-size:1.2em;">BEWARE:</span>  You may end up talking to your friends and family about things other than news events or politics.
        </h6>
      </span>
   </div>
