{% if recaptcha_key %}
<script src='https://www.google.com/recaptcha/api.js'></script>
{% endif %}

<div id="{{ card_id }}" class="cg-card cg-border-grey w3-modal-content" style="overflow: hidden;margin:0 auto 16px;">

  {% if header %}
  <header class="w3-container w3-border-bottom w3-center">

    {% if is_modal %}
    <span onclick="document.getElementById({{ modal_name }}).style.display='none'"
    class="w3-button w3-display-topright">&times;</span>
    {% endif %}

    <h4 style="font-weight:bold;">{{ header }}</h4>
  </header>
  {% endif %}



  <div class="w3-container w3-padding-large">

  {% if recaptcha_key %}
  <script>
   function onSubmit(token) {document.getElementById("card_form").submit();}
  </script>
  {% endif %}

  <!-- standard Django user messages e.g. messages.info(request, "message') -->
  {% if messages %}
    <div class="w3-padding-16">
    {% for msg in messages %}
      <div class="user-msg {{ msg.level_tag }} w3-padding-top">{{ msg }}</div>
    {% endfor %}
    </div>
  {% endif %}

  {% block card_top %}
    <!-- any other custom messaging -->
    {% if custom_message %}
    <div class="custom-msg w3-padding-16">{{ custom_message|safe }}</div>
    {% endif %}
  {% endblock %}

  {% if chart %}
  {% block chart %}
    <div class="w3-padding"></div>
    <div class="card-chart" hx-get="{{ chart }}" hx-trigger="load">
    <img width="50" style="margin: 100px auto;display:flex;" src="{% v_static 'img/spinners/puff.svg' %}"/>
    </div>
  {% endblock %}
  {% endif %}

  {% block form %}
    <form id="card_form" method="{{ form_method|default:'post' }}" {% if form_action %}action="{{ form_action }}"{% endif %}>
      {% if form %}
      {% csrf_token %}
      {{ form.as_p }}
      {% endif %}
      {% if button_label %}
          {% if recaptcha_key %}
            <button class="g-recaptcha w3-button w3-round w3-block cg-blue w3-margin-bottom"
                      data-sitekey={{recaptcha_key}}
                      data-callback='onSubmit' data-action='submit'>{{ button_label|default:"Ok" }}</button>
          {% else %}
            <input type="submit" value="{{ button_label|default:"Ok" }}" class="w3-button w3-round w3-block cg-blue w3-margin-bottom">
          {% endif %}
      {% endif %}
    </form>
  {% endblock %}

  {% block card_extras %}{% endblock %}

  </div>
</div>