<div class="cg-card w3-modal-content w3-round w3-card-0 w3-border cg-border-grey" style="overflow: hidden;margin:auto;">

  {% if header %}
  <header class="w3-container w3-border-bottom w3-center">

    {% if is_modal %}
    <span onclick="document.getElementById({{ modal_name }}).style.display='none'"
    class="w3-button w3-display-topright">&times;</span>
    {% endif %}

    <h4>{{ header }}</h4>
  </header>
  {% endif %}

  <div class="w3-container w3-padding-large">

  <!-- standard Django user messages e.g. messages.info(request, "message') -->
  {% if messages %}
    <div style="margin-bottom:24px;">
    {% for msg in messages %}
      <p class="user-msg {{ msg.level_tag }} w3-padding-top w3-margin-bottom">{{ msg }}</p>
    {% endfor %}
    </div>
  {% endif %}

  {% block card_top %}
    <!-- any other custom messaging -->
    {% if custom_message %}
    <p class="custom-msg w3-padding-top w3-margin-bottom">{{ custom_message|linebreaks }}</p>
    {% endif %}
  {% endblock %}

  {% if chart %}
  {% block chart %}
    <div class="w3-padding"></div>
    <canvas class="chart" id="{{ chart.name }}"></canvas>
    {{ chart.get|json_script:chart.data_name }}
  {% endblock %}
  {% endif %}

  {% if form %}
  {% block form %}
    <form method="{{ form_method|default:'post' }}" {% if form_action %}action="{{ form_action }}"{% endif %}>
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="{{ button_label|default:"Ok" }}" class="w3-button w3-round w3-block cg-blue w3-margin-bottom">
    </form>
  {% endblock %}
  {% endif %}

  {% block card_extras %}{% endblock %}

  </div>
</div>