*.py[cod]
*.tar
.idea/
.tox/
.db/
.DS_Store
.config
/static
__pycache__
*.icloud
secret_env.*
django_project.sh
pg_dumps
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir
media
django.ssh
local_settings.py
foo.py
--logfile
junk.txt
redis_dumps
CommonologyBackfillWeeks.xlsx
