Django
python-dateutil
google-api-python-client
google-auth-oauthlib
gspread
fuzzywuzzy
num2word
pandas
psycopg2-binary
python-Levenshtein
gunicorn
pycodestyle
redis
celery
newrelic
git+https://git@github.com/quizitive/django-bulk-update-or-create.git
django-redis
django-redis-sessions
django-debug-toolbar
pytz
sentry-sdk
django-sslserver
fontawesome-free
social-auth-app-django
sendgrid
django-ckeditor
Pillow
django-object-actions
channels
channels-redis
django-sortedm2m-filter-horizontal-widget
openpyxl
pydot
emoji
git+https://git@github.com/quizitive/django-request.git
qrcode
xhtml2pdf
