{% extends 'emails/base_email.html' %}

{% autoescape off %}

{% block body %}
  <body>
    <div id="email-body">
      <img id="email-header-image" src="https://commonologygame.com/static/img/logo.png">
      <div id="email-content">

        <p>Hi, {{ user.name }}</p>

        <p>
          To initiate the password reset process for your {{ user.get_username }} Commonology account,
click the button below:
        </p>

        <div id="button-holder">
          <button class="w3-button cg-blue" style="display: block;">
            <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Reset Password</a>
          </button>
        </div>

        <p>
          Cheers,
          <br/>
          The Commonology Team
        </p>
        <hr>
        <div id="footer">
          <p>
          Button not working? Try pasting the url directly into your browser:
            <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
              {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</a>
          </p>
        </div>
      </div>
    </div>
  </body>

{% endblock %}
{% endautoescape %}
