#footer-container {
  overflow: hidden;
  bottom: 0;
  width: 100%;
  margin-top: -164px;
}
#footer {
  background: #fafbfc;
}
a.bottombar {
  padding: 0 4px 0 28px;
  text-decoration: None;
  color: #f26649;
}
a.bottombar::before {
  content: None;
}
#copyright {
  color:#aaaaaa;
  font-size:0.7rem;
  margin:-4px 3px -6px 0;
}
