#footer-container {
  overflow: hidden;
  bottom: 0;
  width: 100%;
  margin-top: -83px;
}
#footer {
  background: #fafbfc;
}
a.bottombar {
  padding: 0 4px 0 28px;
  text-decoration: None;
  color: #f26649;
}
#copyright {
  color:#aaaaaa;
  font-size:0.7rem;
  margin:0 3px 0 0;
}
