#navbar {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.12);
}
div.content, div.narrow-content {
    margin-top: 8vw;
}
.navbar-logo {
  max-height: 50px;
}
.navbar-dropdown.w3-dropdown-content {
  font-size: 16px;
  right:4vw;
  min-width:140px;
}
.navbar-dropdown.w3-dropdown-hover {
  background: none;
}

/* Large Screens */
@media only screen and (min-width: 768px) {
  h1.logo {
    font-size: 4rem;
  }
  div.content, div.narrow-content {
    margin-top: 80px;
}

}
