.w3-top {
  z-index: 9;
}
#navbar {
  background: #fafbfc;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.12);
  border-top: #237073 solid 3px;
  padding: 8px;
}
div.content, div.narrow-content {
  padding-top: 64px;
}
.navbar-logo-large {
  height: 34px;
}
.navbar-logo-small {
  display: None;
}
.navbar-dropdown.w3-dropdown-click {
  height: 38px;
}
.navbar-icon {
  /* note: these must add to the height of the logo */
  height: 24px;
  margin: 7px 0;
  /* teal filter: invert(31%) sepia(96%) saturate(307%) hue-rotate(133deg) brightness(97%) contrast(91%);*/
  /* salmon filter: invert(52%) sepia(11%) saturate(4856%) hue-rotate(329deg) brightness(98%) contrast(93%);*/
  /* blue filter: invert(46%) sepia(42%) saturate(5772%) hue-rotate(173deg) brightness(96%) contrast(101%);*/
  filter: invert(70%) sepia(9%) saturate(16%) hue-rotate(333deg) brightness(97%) contrast(88%);
}
.navbar-icon:hover {
  filter: invert(70%) sepia(0%) saturate(0%) hue-rotate(76deg) brightness(90%) contrast(89%);
}

.navbar-dropdown.w3-dropdown-content {
  font-size: 16px;
  right:4vw;
  min-width:180px;
}
.navbar-dropdown.w3-dropdown-hover {
  background: none;
}
#navbar .w3-cell {
  padding: 0 2px;
}

/* Tiny Screens */
@media only screen and (max-width: 350px) {
  .navbar-logo-large {
    display: None;
  }
  .navbar-logo-small {
    display: block;
    height: 32px;
  }
}

/* Large Screens */
@media only screen and (min-width: 768px) {
  h1.logo {
    font-size: 4rem;
  }

}
