{% load leadeboard_tags %}

<div class="question-container cg-card cg-border-grey cg-top-blue"
     style="background: white; {% if form.errors %}border-color:#ec1c24!important;{% endif %}">

  <div class="question-card w3-container w3-padding-top" >

    <p class="question-text" style="font-size:1rem"><b>{{ text }}</b></p>
    {% if not q.hide_default_results %}

      <!-- image  -->
      {% if q.image %}
      <div class="result-card result-img w3-row">
        <div class="w3-col spacer m1">&nbsp</div>
        <div class="w3-col w3-padding-large m10">
          <img class="w3-image" src="{{ q.image.url }}" style="display:block;margin:auto;">
        </div>
        <div class="spacer w3-colm1">&nbsp</div>
      </div>
      {% endif %}

      <!-- the question form with choices or the results -->
      {% block form_or_results %}{% endblock %}

    {% endif %}

  </div>

{% block comments %}{% endblock %}

</div>