body {
  font-family: "Poppins", "Quicksand Medium", "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
  background: #d9efff;
}

div.content {
  max-width: 640px;
}

div.w3-modal-content {
  max-width: 500px;
}

/* so cards have rounded corners on top and bottom */
header.w3-container {
    border-radius: 4px 4px 0 0
}

.question-card {
  padding: 0 24px;
}