

<div id="footer-container" class="w3-bottombar">
    <div id="footer" class="w3-bar w3-medium w3-padding" style="padding-top:24px">
      <div class="w3-cell-row" style="height:100%;">
        <div class="w3-cell w3-mobile" style="width:6%;"></div>

        <div class="w3-cell w3-mobile" style="width:88%">
          <div class="w3-cell-row" style="margin-top:12px;">

          <div class="w3-cell w3-cell-middle" style="width:35%;padding:8px 8px 0;">
            <div class="w3-row">
             {%  include "components/social.html" %}
            </div>
          </div>

          <div class="w3-cell w3-cell-middle w3-rest w3-center" style="padding:4px 0 0 0;">
            <div class="w3-row"><img src="{% v_static 'img/icon.svg' %}" height="38px"></div>
          </div>

          <div class="w3-cell w3-cell-middle w3-right-align" style="font-size:0.8rem;width:35%;">

            <div class="w3-row" style="float:right;">
              <div class="w3-col">
                <a class="bottombar w3-row" href="{% url 'about' %}">About</a>
                <a class="bottombar w3-row" href="{% url 'our_story' %}">Our Story</a>
                <a class="bottombar w3-row" href="{% url 'sponsor' %}">Sponsor</a>
                <a class="bottombar w3-row" href="{% url 'testimonials' %}">Testimonials</a>
                <a class="bottombar w3-row" href="{% url 'product' %}">Product</a>
                <a class="bottombar w3-row" href="{% url 'tos' %}">Terms</a>
                <a class="bottombar w3-row" href="{% url 'contact' %}">Contact</a>
              </div>
            </div>

          </div>
        </div>

        <div id="copyright" class="w3-row w3-right-align">
          &#169 2021 Quizitive, LLC. All rights reserved.
        </div>

      </div>

        <div class="w3-cell w3-mobile" style="width:6%;"></div>
      </div>

    </div>
</div>
