{% load navbar_extras %}

{% load leadeboard_tags %}

{% if user.is_authenticated %}

<div class="navbar-dropdown w3-cell w3-cell-middle w3-dropdown-click w3-center w3-hover-none">
  <img id="navbar-dropdown-icon" class="navbar-icon" src="{% v_static 'img/caret-square-down-solid.svg' %}">
  <div id="navbar-dropdown-content"
       class="navbar-dropdown w3-dropdown-content w3-bar-block w3-border w3-round w3-card-4" style="overflow: hidden;">
    <a href="{% url 'profile' %}">
      <div class="w3-bar-item w3-button w3-border-bottom" style="padding:12px 16px"><b>{{ user.name }}</b></div>
    </a>
    <a href="{% series_or_default_url 'game' 'question-suggest' %}" class="w3-bar-item w3-button">Suggest a Question</a>
    <a href="{% login_logout_url %}" class="w3-bar-item w3-button">Logout</a>
  </div>
</div>

{% else %}

<a href="{% url 'login' %}{% login_next_url request %}"><button class="w3-button w3-round">Login</button></a>
<a href="{% url 'join' %}{% login_next_url request %}"><button class="w3-button w3-round cg-blue">Join</button></a>

{% endif %}