{% extends 'base.html' %}

{% block title %}mailtest{% endblock title %}

{% block page_style %}
    <style>
        body {background-color: lightyellow;}
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        p {text-align: center;}
        font Verdana, Arial, Helvetica, sans-serif;
    </style>
{% endblock page_style %}

{% block content %}

    <p>Email was sent to {{ emailaddr }}. <br>
        Please check your spam folder if you did not receive it.</p>
    <p>{{ message }}</p>
{% endblock content %}
