{% load static %}

<div class="w3-round w3-padding w3-border w3-margin-top w3-margin-bottom"
     style="background: white;">
  <div class="w3-container w3-padding" style="font-weight: bold;">
    This week's game is sponsored by:
  </div>

  <div class="w3-container w3-padding" style="width:100%;">
    <img src="{% static 'img/petsmart.jpeg' %}" style="max-height:75px;display:flex;margin:auto;padding:4px">
  </div>

  <div class="w3-padding">
    Get 10% off your next online order! Use the code COMMONOLOGY2021
  </div>
</div>