body, h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", Verdana, Arial, sans-serif;
}

div.spacer {
    height: 1px;
}

label.required::after {
    content: '*';
    color: red;
}

div.content {
    margin: 0 auto;
    max-width: 640px;
    min-height: 100vh;
    padding-bottom:196px;
}

div.w3-modal-content {
  max-width: 640px;
}

div.w3-modal-content {
  max-width: 640px;
}

/* so cards have rounded corners on top and bottom */
header.w3-container {
    border-radius: 4px 4px 0 0
}

.w3-button.cg-blue {
    color: white!important;
}

.w3-button.cg-blue:hover {
    color: white!important;
    background: #0090ce!important;
}

/* base card implementation */
.cg-card {
  margin: auto auto 16px auto;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.cg-padding {
  padding: 16px;
}


/* For Django messages */
.warning {
    color: #ec1c24!important
}


.cg-border-blue {
    border-color: #0095da!important;
}
.cg-border-grey {
    border: 1px solid #cecece;
}
.cg-top-blue {
    border-top: 3px solid #0095da!important;
}

/* --- Colors --- */
.cg-blue {
    color: #fff!important;
    background: #0095da!important;
}
.cg-teal {
    color: #fff!important;
    background: #237073!important;
}
.cg-dark-purple {
    color: #fff!important;
    background: #522e91!important;
}
.cg-red {
    color: #fff!important;
    background: #ec1c24!important;
}
.cg-yellow {
    color: #fff!important;
    background: #fdb913!important;
}
.cg-orange {
    color: #fff!important;
    background: #f58220!important;
}
.cg-light-green {
    color: #fff!important;
    background: #52ac68!important;
}
.cg-light-purple {
    color: #fff!important;
    background: #884990!important;
}
.cg-dark-green {
    color: #fff!important;
    background: #006838!important;
}
.cg-robins-egg-blue {
    color: #fff!important;
    background: #2a9fbc!important;
}
.cg-pink {
    color: #fff!important;
    background: #c63d96!important;
}
.cg-grass-green {
    color: #fff!important;
    background: #8bc53f!important;
}
.cg-deep-blue {
    color: #fff !important;
    background: #2b388f!important;
}
.cg-salmon {
    color: #fff!important;
    background: #f26649!important;
}


/* Login with Google */
img.login-google {
  max-height:36px;
  max-width:36px;
}
span.login-google {
  margin-top: 2px;
}
button.login-google:hover {
  border-radius:4px;
}

/* Social Media Icon */
.social_dim {
width: 18px;
height: 18px;
}

.sm-grey-italic {
font-style: italic;
font-weight: normal;
color:#9e9e9e;
font-size: 12px;"
}

/* For swapping content on mobile */
.mobile-only {
  display: none
}

@media only screen and (max-width: 560px) {
  .mobile-only {
    display: block;
  }
  .desktop-only {
    display: none;
  }
}