body, h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", Verdana, Arial, sans-serif
}

div.spacer {
    height: 1px;
}

label.required::after {
    content: '*';
    color: red;
}

div.content {
    margin: 64px auto;
    max-width: 778px;
}

/* so cards have rounded corners on top and bottom */
header.w3-container {
    border-radius: 4px 4px 0 0
}

.w3-button.cg-blue {
    color: white!important;
}

.w3-button.cg-blue:hover {
    color: white!important;
    background: #0090ce!important;
}

.cg-border-blue {
    border-color: #0095da!important;
}

/* --- Colors --- */
.cg-blue {
    color: #0095da!important;
    background: #0095da!important;
}
.cg-teal {
    color: #237073!important;
    background: #237073!important;
}
.cg-dark-purple {
    color: #522e91!important;
    background: #522e91!important;
}
.cg-red {
    color: #ec1c24!important;
    background: #ec1c24!important;
}
.cg-yellow {
    color: #fdb913!important;
    background: #fdb913!important;
}
.cg-orange {
    color: #f58220!important;
    background: #f58220!important;
}
.cg-light-green {
    color: #52ac68!important;
    background: #52ac68!important;
}
.cg-light-purple {
    color: #884990!important;
    background: #884990!important;
}
.cg-dark-green {
    color: #006838!important;
    background: #006838!important;
}
.cg-robins-egg-blue {
    color: #2a9fbc!important;
    background: #2a9fbc!important;
}
.cg-pink {
    color: #c63d96!important;
    background: #c63d96!important;
}
.cg-grass-green {
    color: #8bc53f!important;
    background: #8bc53f!important;
}
.cg-deep-blue {
    color: #2b388f!important;
    background: #2b388f!important;
}
.cg-salmon {
    color: #f26649!important;
    background: #f26649!important;
}