body, h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", Verdana, Arial, sans-serif
}

div.spacer {
    height: 1px;
}

label.required::after {
    content: '*';
    color: red;
}

div.content {
    margin: 64px auto;
    max-width: 778px;
}

/* so cards have rounded corners on top and bottom */
header.w3-container {
    border-radius: 4px 4px 0 0
}

.w3-button.w3-blue:hover {
    color: white!important;
    background: #0e8df2!important;
}
