{% load static %}

{#<div hx-trigger="sse:thread_{{ thread.id }}" hx-get="/c/htmx/?thread_id={{ thread.id }}"></div>#}

{% include 'leaderboard/components/comment_thread.html' %}

  <div class="question-comment-form w3-row w3-border-top cg-border-grey w3-padding-large" style="margin:auto;font-size:14px">
    <form hx-ws="send">
      {% csrf_token %}
      <input type="hidden" name="thread-id" value="thread-{{ thread.id }}">
      <div class="w3-cell-row">
        <div class="w3-cell w3-rest">
          <textarea id="text-{{ thread.id }}" name="comment" class="comment-text" placeholder="Add comment..."></textarea>
        </div>
        <div class="w3-cell w3-cell-middle" style="width:45px">
          <button id="post-{{ thread.id }}" class="post-button w3-button w3-round cg-blue cg-border-blue" disabled type="submit" style="display:inline-block;">Post</button>
        </div>
      </div>
    </form>
  </div> 