<div id="thread-{{ q.thread.id }}" class="question-comments w3-padding-large">

  {% if q.caption %}
    <div class="question-caption w3-row">
      <b>{{ host.display_name }}&nbsp&nbsp</b>{{ q.caption }}
    </div>
  {% endif %}

    {{ visible_comments|json_script:"visible-comments" }}
    <a id="show-comments thread-{{ thread.id }}"
       class="show-comments"
       {% if thread.comments.count <= visible_comments %}
       style="display:None;"
       {% endif %}
    >Show all {{ thread.comments.count }} comments</a>

  {% for comment in thread.comments.all  %}
    <div id="thread-{{ thread.id }}" class="question-comment thread-{{ thread.id }}
         {% if forloop.counter|add:visible_comments <= thread.comments.count %} hideable" style="display:none;{% endif %}">

      <b>{{ comment.commenter }}&nbsp&nbsp</b>{{ comment.clean_comment }}
    </div>
  {% endfor %}

</div>