{% load leadeboard_tags %}

<div class="game-header cg-padding w3-round w3-center">

   <!-- header text -->
  <div id="game-name" class="leaderboard">{{ game_name }}</div>

  <!-- date dropdown with historical leaderboards -->
  <div id="change-game" class="w3-dropdown-click" style="font-size:20px;padding-top:4px;">
    {{ date_range }}<i class="fas fa-caret-down" style="margin-left:8px;"></i>
    <div id="change-game-content"
       class="w3-dropdown-content w3-bar-block w3-border w3-card-4 w3-round"
       style="font-size: 15px;width:250px;left:-20px;overflow: hidden;">
    {% for hlb in historical_leaderboards %}
    <a href="{% series_or_default_url 'leaderboard' view_name='game-id-'|add:view game_id=hlb.game.game_id %}"
        class="w3-bar-item w3-button" style="text-decoration:none;">
      <div class="w3-bar-item w3-button" style="padding:2px 0;">
        <b>Game {{ hlb.game.game_id }} </b><span style="font-size:13px;"> ({{ hlb.game.date_range_pretty }})</span>
      </div>
    </a>
    {% endfor %}
  </div>
  </div>

   <!-- header buttons -->
  <div class="leaderboard-buttons">
    <div class="w3-row" style="max-width:465px;margin:auto;">
      <div class="w3-col m4">
        <a class="leaderboard-header-button w3-button w3-mobile w3-round-xxlarge {% button_highlight 'host-note' %}"
           href="{% series_or_default_url 'leaderboard' 'current-host-note' %}{{ requested_game_id|default:'' }}">
          Host's Note
        </a>
      </div>
        <div class="w3-col m4">
        <a class="leaderboard-header-button w3-button w3-mobile w3-round-xxlarge {% button_highlight 'leaderboard' %}"
           href="{% series_or_default_url 'leaderboard' 'current-leaderboard' %}{{ requested_game_id|default:'' }}">
          Leaderboard
        </a>
      </div>
        <div class="w3-col m4" style="position:relative;">
          <a class="leaderboard-header-button w3-button w3-mobile w3-round-xxlarge {% button_highlight 'results' %}"
             href="{% series_or_default_url 'leaderboard' 'current-results' %}{{ requested_game_id|default:'' }}">
            Results
          </a>
          <!-- Results comments badge -->
          {% if n_comments %}
            <div id="comment-indicator-badge-container" class="w3-tooltip">
              <span id="comment-indicator-badge" class="cg-red">
                {{ n_comments }}
              </span>
              <span style="position:absolute;right:0;bottom:22px;" class="w3-text w3-tag w3-small w3-round w3-card-4">
                New comments since you last visited
              </span>
            </div>
          {% endif %}
        </div>
    </div>

    {% active_game as active_game %}
    {% if active_game %}
    <!-- Play Game Button -->
    <div class="w3-row">
      <div>
        <a class="leaderboard-header-button play-button pulse-button cg-salmon w3-button w3-round-xxlarge leaderboard w3-mobile"
           style="font-weight:bold;font-style:italic;"
           href="{% series_or_default_url 'game' 'play' %}{{ active_game.uuid|default:'' }}">
          Play Latest Game!
        </a>
      </div>
    </div>
    {% endif %}
  </div>

</div>