{% load leadeboard_tags %}

{#<div class="w3-row" style="padding: 8px 0;"></div>#}
  <div class="w3-row">

    <div class="game-header cg-padding w3-round" style="max-width:640px; margin:auto;">

    <!-- header text -->
    {% if team %}
      <h1 class="w3-padding leaderboard"><b>{{ team.name }}</b></h1>
    {% endif %}

      <!-- date dropdown with historical leaderboards -->
      <div class="leaderboard"><span style="font-size: 28px">{{ game_name }}</span></div>
      <div id="change-game" class="w3-dropdown-click" style="font-size:20px;padding-top:4px;">
        {{ date_range }}<i class="fas fa-caret-down" style="margin-left:8px;"></i>
      </div>
      <div id="change-game-content"
           class="w3-dropdown-content w3-bar-block w3-border w3-card-4 w3-round" style="overflow:hidden">
        {% for hlb in historical_leaderboards %}
        <a href="{% series_or_default_url 'leaderboard' view_name='game-id-'|add:view game_id=hlb.game.game_id %}"
            class="w3-bar-item w3-button" style="text-decoration:none;">
          <div class="w3-bar-item w3-button" style="padding:2px 0;">
            <b>Game {{ hlb.game.game_id }} </b><span style="font-size:13px;"> ({{ hlb.game.date_range_pretty }})</span>
          </div>
        </a>
        {% endfor %}
      </div>

      {% if not hide_navigation %}
      <!-- header buttons -->
      <div class="game-buttons w3-row w3-center">
        <div class="leaderboard-results-button-container w3-col m6" style="position: relative">
          <a class="game-header-button w3-button {% button_highlight 'leaderboard' %} w3-round-xxlarge leaderboard"
             href="{% series_or_default_url 'leaderboard' 'current-leaderboard' %}{{ requested_game_id|default:'' }}">
             Leaderboard
          </a>
          <a class="game-header-button w3-button {% button_highlight 'results' %} w3-round-xxlarge leaderboard"
             href="{% series_or_default_url 'leaderboard' 'current-results' %}{{ requested_game_id|default:'' }}">
             Results
          </a>
          {% if n_comments %}
            <div id="comment-indicator-badge-container">
              <span id="comment-indicator-badge" class="cg-red">
                {{ n_comments }}
              </span>
            </div>
          {% endif %}

        </div>
        <div class="play-button-container w3-col m6">
          {% active_game as active_game %}
          {% if active_game %}
            <a class="game-header-button play-button w3-button w3-round-xxlarge leaderboard w3-rest" style="background:#f1f3f3;color:#f26649;font-weight:bold;font-style:italic;"
                 href="{% series_or_default_url 'game' 'play' %}{{ active_game.uuid|default:'' }}">
              Play Latest Game!
            </a>
            {% endif %}
        </div>
      </div>
      {% endif %}
    </div>
  </div>
