
  <div class="w3-row">
    <div class="w3-padding-bottom w3-col">
      <table class="leaderboard w3-table w3-striped w3-bordered">
        <thead>
          <th class="w3-center rank" style="vertical-align: bottom;">Rank</th>
          <th class="name" style="vertical-align: bottom;">Name</th>
          <th style="vertical-align: bottom;">Score </th>
          <th class="w3-center">
            <div class="w3-dropdown-hover">
              <button id="following-drp" class="w3-button cg-blue">
                <i class="fas fa-check-circle" style="color:white; margin:auto;"></i>
                <i class="fas fa-caret-down"></i></button>
              <div class="w3-dropdown-content w3-bar-block w3-card-4" style="right:0;">
                <a hx-get="/leaderboard/htmx/?game_id={{ game_id }}&id_filter=following"
                   hx-target="#component-leaderboard"
                   class="w3-bar-item w3-button">Following</a>
                <a hx-get="/leaderboard/htmx/?game_id={{ game_id }}&id_filter=followers"
                   hx-target="#component-leaderboard"
                   class="w3-bar-item w3-button">My Followers</a>
                <a hx-get="/leaderboard/htmx/?game_id={{ game_id }}&id_filter=new_players"
                   hx-target="#component-leaderboard"
                   class="w3-bar-item w3-button">New Players</a>
                <a hx-get="/leaderboard/htmx/?game_id={{ game_id }}"
                   hx-target="#component-leaderboard"
                   class="w3-bar-item w3-button">All Players</a>
              </div>
            </div>
          </th>
        </thead>
        <tbody>
          {% for player in leaderboard %}
              <tr>
                <div class="leaderboard-row" >
                    <div class="w3-cell-row" style="height:80px;">
                        <div class="w3-cell w3-cell-middle" style="width:13%;min-width:50px;font-size:12px;font-weight: bold;color:#555">
                            {{ player.Rank }}
                        </div>
                        <div class="w3-cell w3-cell-middle" style="width:10%;min-width:50px">
                            <div style="background: #0095da;color: #fff;text-align:center;width:40px;line-height:40px;border-radius: 50%;font-size: 20px;">
                                {{ player.Name|slice:":1" }}
                            </div>
                            <div style="height:0;position:absolute;">
                            {% if player.Rank == 1 %}
                                <img src="{% v_static 'img/badges/RED face.svg' %}"
                                     height="25px" style="position:absolute;top:-47px;left:23px;">
                            {% endif %}

                            {% if not player.Rank|divisibleby:2 %}
                            <img src="{% v_static 'img/badges/RIBBON B.svg' %}"
                                 height="25px" style="position:absolute;top:-14px;left:23px;">
                            {% endif %}
                            </div>

                        </div>
                        <div class="w3-cell w3-container w3-cell-middle w3-rest" >
                            <div class="w3-row w3-left-align" style="font-weight: bold;">
                                {{ player.Name }}
                            </div>
                            <div class="w3-row w3-left-align" style="font-weight: bold;color:#f26649">
                                {{ player.Score }}
                            </div>
                        </div>
                        <div class="w3-cell w3-cell-middle" style="width:25%;">
                            <div class="w3-container"
                                 style="font-weight: bold;font-size:10px;font-style:italic;color:#0095da;">
                                Follow
                            </div>
                            {% if player.id in user_following %}
                              <label class="container">
                                <input type="checkbox"
                                       checked="checked"
                                       hx-post="{% url 'users-htmx' %}"
                                       hx-vals='{"to_follow": "{{ player.id }}"}'
                                       hx-swap="none">
                                <span class="checkmark"></span>
                              </label>
                              {% else %}
                              <label class="container">
                                <input type="checkbox"
                                       hx-post="{% url 'users-htmx' %}"
                                       hx-vals='{"to_follow": "{{ player.id }}"}'
                                       hx-swap="none">
                                <span class="checkmark"></span>
                              </label>
                            {% endif %}
                        </div>

                    </div>

                </div>
              </tr>
{#            <tr {% if player.id == request.user.id %}#}
{#              style="font-weight:bold;"#}
{#            {% endif %}>#}
{#              <td class="w3-center">{{ player.Rank }}</td>#}
{#              <td class="name" style="color:black;">{{ player.Name }}#}
{#                {% if player.id == request.user.id %}#}
{#                  <span style="font-size:12px;">(me)</span>#}
{#                {% endif %}#}
{#              </td>#}
{#              <td {% if player.id == request.user.id %}style="color:#f26649;"{% endif %}>#}
{#                {{ player.Score }}#}
{#              </td>#}
{##}
              {#      Follow Buttons      #}
{#              <td class="w3-center">#}
{#                {% if player.id in user_following %}#}
{#                  <label class="container">#}
{#                    <input type="checkbox"#}
{#                           checked="checked"#}
{#                           hx-post="{% url 'users-htmx' %}"#}
{#                           hx-vals='{"to_follow": "{{ player.id }}"}'#}
{#                           hx-swap="none">#}
{#                    <span class="checkmark"></span>#}
{#                  </label>#}
{#                  {% else %}#}
{#                  <label class="container">#}
{#                    <input type="checkbox"#}
{#                           hx-post="{% url 'users-htmx' %}"#}
{#                           hx-vals='{"to_follow": "{{ player.id }}"}'#}
{#                           hx-swap="none">#}
{#                    <span class="checkmark"></span>#}
{#                  </label>#}
{#                {% endif %}#}
{#              </td>#}
{##}
{#            </tr>#}
          {% endfor %}
        </tbody>
      </table>
      <div class="w3-container w3-cell-row w3-center w3-padding-16">

        {% if prev %}
        <a class="w3-cell"
           hx-get="/leaderboard/htmx/?game_id={{ game_id }}&series={{ series_slug|default:"" }}&page={{ page|add:-1 }}&id_filter={{ id_filter }}"
           hx-target="#component-leaderboard">
          <i class="fas fa-chevron-left" style="color:#0095da"></i>
        </a>
        {% endif %}

        <div class="w3-cell">
        {% if visible_players == '1-0' and not user.is_authenticated %}
          <a href="{% url 'login' %}">Login</a>
          or
          <a href="{% url 'join' %}">Join</a>
          to follow your friends!
        {% elif visible_players == 0 and user.is_authenticated %}
          Follow your friends by checking the bubble next to their name.
        {% else %}
          {{ lb_message }}
        {% endif %}
        </div>

        {% if next %}
        <a class="w3-cell"
           hx-get="/leaderboard/htmx/?game_id={{ game_id }}&series={{ series_slug|default:"" }}&page={{ page|add:1 }}&id_filter={{ id_filter }}"
           hx-target="#component-leaderboard">
          <i class="fas fa-chevron-right" style="color:#0095da"></i>
        </a>
      {% endif %}

      </div>
    </div>
  </div>