
  <div class="w3-row">
    <div class="w3-col">
      <table class="leaderboard w3-table w3-striped w3-bordered">
        <thead>
          <th class="w3-center rank" style="vertical-align: bottom;">Rank</th>
          <th class="name" style="vertical-align: bottom;">Name</th>
          <th style="vertical-align: bottom;">Score </th>
          <th class="w3-center">
            <div class="w3-dropdown-hover">
              <button id="following-drp" class="w3-button cg-blue">
                <i class="fas fa-check-circle" style="color:white; margin:auto;"></i>
                <i class="fas fa-caret-down"></i></button>
              <div class="w3-dropdown-content w3-bar-block w3-card-4" style="right:0;">
                <a hx-get="/leaderboard/htmx/?game_id={{ game_id }}&id_filter=following"
                   hx-target="#component-leaderboard"
                   class="w3-bar-item w3-button">Following</a>
                <a hx-get="/leaderboard/htmx/?game_id={{ game_id }}&id_filter=followers"
                   hx-target="#component-leaderboard"
                   class="w3-bar-item w3-button">My Followers</a>
                <a hx-get="/leaderboard/htmx/?game_id={{ game_id }}&id_filter=new_players"
                   hx-target="#component-leaderboard"
                   class="w3-bar-item w3-button">New Players</a>
                <a hx-get="/leaderboard/htmx/?game_id={{ game_id }}"
                   hx-target="#component-leaderboard"
                   class="w3-bar-item w3-button">All Players</a>
              </div>
            </div>
          </th>
        </thead>
        <tbody>
          {% for player in leaderboard %}
            <tr>
              <td class="w3-center">{{ player.Rank }}</td>
              <td class="name">{{ player.Name }}</td>
              <td>{{ player.Score }}</td>

              {#      Follow Buttons      #}
              <td class="w3-center">
                {% if player.id in user_following %}
                  <label class="container">
                    <input type="checkbox"
                           checked="checked"
                           hx-post="{% url 'users-htmx' %}"
                           hx-vals='{"to_follow": "{{ player.id }}"}'
                           hx-swap="none">
                    <span class="checkmark"></span>
                  </label>
                  {% else %}
                  <label class="container">
                    <input type="checkbox"
                           hx-post="{% url 'users-htmx' %}"
                           hx-vals='{"to_follow": "{{ player.id }}"}'
                           hx-swap="none">
                    <span class="checkmark"></span>
                  </label>
                {% endif %}
              </td>

            </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="w3-container w3-cell-row w3-center w3-padding-16">

        {% if prev %}
        <a class="w3-cell"
           hx-get="/leaderboard/htmx/?game_id={{ game_id }}&series={{ series_slug|default:"" }}&page={{ page|add:-1 }}&id_filter={{ id_filter }}"
           hx-target="#component-leaderboard">
          <i class="fas fa-chevron-left" style="color:#0095da"></i>
        </a>
        {% endif %}

        <div class="w3-cell">
        {% if visible_players == '1-0' and not user.is_authenticated %}
          <a href="{% url 'login' %}">Login</a>
          or
          <a href="{% url 'join' %}">Join</a>
          to follow your friends!
        {% elif visible_players == 0 and user.is_authenticated %}
          Follow your friends by checking the bubble next to their name.
        {% else %}
          {{ lb_message }}
        {% endif %}
        </div>

        {% if next %}
        <a class="w3-cell"
           hx-get="/leaderboard/htmx/?game_id={{ game_id }}&series={{ series_slug|default:"" }}&page={{ page|add:1 }}&id_filter={{ id_filter }}"
           hx-target="#component-leaderboard">
          <i class="fas fa-chevron-right" style="color:#0095da"></i>
        </a>
      {% endif %}

      </div>
    </div>
  </div>