<script src="{% v_static "leaderboard/js/leaderboard.js" %}"></script>

<div id="leaderboard-filters" class="cg-padding w3-margin-top w3-margin-bottom">

  <!-- leaderboard filter buttons -->
  <div class="leaderboard-filter-buttons w3-row w3-center w3-margin-bottom">
    <div class="leaderboard-filter-button-container w3-col m6">
      <div class="leaderboard-header-button filter-button w3-button w3-round-xxlarge leaderboard cg-blue"
           hx-get="/leaderboard/htmx/?game_id={{ game_id }}"
           hx-target="#component-leaderboard"
           hx-include="[name='q']"
           onclick="filterFocus(this)">
        All Players
      </div>
      <div class="leaderboard-header-button filter-button w3-button w3-round-xxlarge leaderboard w3-light-grey"
           hx-get="/leaderboard/htmx/?game_id={{ game_id }}&id_filter=following"
           hx-target="#component-leaderboard"
           hx-include="[name='q']"
           onclick="filterFocus(this)">
        Following
      </div>
    </div>
    <div class="leaderboard-filter-button-container w3-col m6">
      <div class="leaderboard-header-button filter-button w3-button w3-round-xxlarge leaderboard w3-light-grey"
           hx-get="/leaderboard/htmx/?game_id={{ game_id }}&id_filter=followers"
           hx-target="#component-leaderboard"
           hx-include="[name='q']"
           onclick="filterFocus(this)">
        My Followers
      </div>
      <div id="new-players-button"
           class="leaderboard-header-button filter-button w3-button w3-round-xxlarge leaderboard w3-light-grey"
           hx-get="/leaderboard/htmx/?game_id={{ game_id }}&id_filter=new_players"
           hx-target="#component-leaderboard"
           hx-include="[name='q']"
           onclick="filterFocus(this)">
        New Players
      </div>
    </div>
  </div>


  <div id="leaderboard-search" class="w3-margin-top">
    <form method="get"
        hx-get="/leaderboard/htmx/?game_id={{ game_id }}"
        hx-target="#component-leaderboard">
      <div class="w3-col" style="width:48px">
        <button class="w3-button w3-round cg-blue w3-border cg-border-blue"
                type="submit">
          <i class="fa fa-search"></i>
        </button>
      </div>
      <div class="w3-rest">
        {% if team %}
          <input type="hidden" name="team" value="{{ team.id }}">
        {% endif %}
        <input type="text" name="q" class="w3-input w3-round w3-border" placeholder="Search..." {% if search_term %} value="{{ search_term }}"{% endif %}>
      </div>
    </form>
    <div style="padding-left: 56px; color: grey;"><i>eg. John L, Paul M, George H, Ringo</i></div>
  </div>


</div>