<div class="w3-row">
    <div class="w3-padding-large w3-col">
      <div class="w3-row">
        <form method="get"
              hx-get="/leaderboard/htmx/{{ game_id }}"
              hx-target="#complete-leaderboard">
          <div class="w3-col" style="width:48px">
            <button class="w3-button w3-round w3-blue w3-border w3-border-blue"
                    type="submit">
              <i class="fa fa-search"></i>
            </button>
          </div>
          <div class="w3-rest">
            {% if team %}
              <input type="hidden" name="team" value="{{ team.id }}">
            {% endif %}
            <input type="text" name="q" class="w3-input w3-round w3-border" placeholder="Search..." {% if search_term %} value="{{ search_term }}"{% endif %}>
          </div>
        </form>
        <div style="padding-left: 56px; color: grey;"><i>eg. John L, Paul M, George H, Ringo</i></div>
      </div>
    </div>
  </div>