{% if request.user.display_name %}
<div class="w3-row" style="padding:8px 0">
  <span style="font-weight: bold;">Welcome {{ request.user.display_name }}! Your game results:</span>
</div>
{% endif %}

{% if is_instant %}
  <div class="w3-row" style="padding:8px 0">
  <span style="font-weight: bold;">Your game results:</span>
</div>
{% endif %}

<div class="w3-row" style="padding:8px 0;margin:auto;max-width:440px">
  {# RANK #}
  <div class="stat-container w3-col s4">
    <div class="stat-tile" style="color:#0095da">
      <div class="stat-tile-contents">
        <div class="w3-row stat-tile-value w3-center">
        {{ player_rank }}
        </div>
        <div class="w3-row stat-tile-label">
        Rank
        </div>
      </div>
    </div>
  </div>
  {# SCORE #}
  <div class="stat-container w3-col s4">
    <div class="stat-tile" style="color:#f26649">
      <div class="stat-tile-contents">
        <div class="w3-row stat-tile-value w3-center">
        {{ player_score }}
        </div>
        <div class="w3-row stat-tile-label">
        Score
        </div>
      </div>
    </div>
  </div>
  {# PERECENTILE #}
  <div class="stat-container w3-col s4">
    <div class="stat-tile" style="color:#237073">
      <div class="stat-tile-contents">
        <div class="w3-row stat-tile-value w3-center">
        {{ player_percentile }}
        </div>
        <div class="w3-row stat-tile-label">
        Percentile
        </div>
      </div>
    </div>
  </div>
</div>

<div class="w3-row" style="padding:4px 0">
  <span style="font-weight:normal;font-style:italic;font-size:13px;">{{ player_message }}</span>
</div>

{% include "leaderboard/components/instant_game_message.html" %}