
<div class="w3-row w3-padding-small" >
  <span style="font-weight: normal;">Welcome, {{ request.user.display_name }}!</span>
</div>
<div class="w3-row w3-padding-small">
  <span style="">My Score: </span>
  <span style="color:#f26649"> {{ player_score }}</span>
</div>
<div class="w3-row w3-padding-small">
  <span style="">My Rank: </span>
  <span style="color:#f26649"> {{ player_rank }}</span>
</div>
<div class="w3-row w3-padding-small">
  <span style="font-weight: normal;font-style: italic;font-size:14px;">That puts you in the 75th percentile</span>
</div>
