
{{ request.user.display_name|json_script:"display-name" }}
{{ game_id|json_script:"game-id" }}
<div class="w3-row w3-padding-top-24">
    <span style="font-weight: bold;">Welcome {{ request.user.display_name }}!</span>
</div>
<div class="w3-row w3-padding-top-24">
    <span style="font-weight: normal;">
<p>Thank you for signing up for this special edition of Commonology!</p>
<p>Please be sure to Venmo your contribution ($25 for all three weeks) to @Alex-Commonology in order to be eligible for the jackpot! (Amount TBD based on how many players sign up!).</p>
<p>We'll send you the first game link on Monday, January 27, so sit tight! Remember, the more players = the more money you could win (and more money to a great cause) so please help us spread the word!</p>
<p>We appreciate your support of our fundraiser for the Children's Tumor Foundation. Our three weeks of games will coincide with Cupid's Undie Runs around the country. Three-time Commonology winner Kristen C. has raised $86,000+ in honor of her sister, Michelle. Michelle passed away at age 17 from neurofibromatosis. NF is a genetic disorder that affects 1 in 2,000 births and can cause tumors to grow anywhere on or in the body. Every dollar raised will go towards finding a cure for this illness.</p>
<p>Link for Children's Tumor Foundation: <a href="https://www.ctf.org/">https://www.ctf.org/</a></p>
    </span>
</div>
<div class="w3-row w3-padding-top-24">
Once the first game is complete, be sure to check back here to see how you did!
</div>
<div class="w3-row w3-padding-top-24"></div>
