

<div class="share-section" style="padding:16px 24px;">

  <div style="padding:16px 0">
    <b>Love playing Commonology? Refer your friends by sharing your personalized link!</b>
  </div>

  <div id="share-link" style="padding:8px;border:1px solid #0095da;margin:4px 0;background:white;border-radius: 4px;color:black; text-decoration: none;">https://commonologygame.com/play/{{ player_code }}</div>

  {% if not no_button %}
  <button id="share-button" class="w3-button w3-round cg-blue w3-border cg-border-blue" style="font-size:16px;">
    Share<i class="fa-solid fa-share-nodes" style="height:100%;padding-left:10px;"></i>
  </button>
  <div id="copy-msg" style="display:none;">Link copied!</div>
  <script src="{% v_static 'js/social_sharing.js' %}" type="text/javascript"></script>
  {% endif %}

  <div class="refer-help" style="font-style:italic;font-size: 12px;padding-top:24px">
    <span style="font-weight:bold;font-size:18px;color:#0095da">YES!</span> forwarding the game email still works and will count toward your total referrals!
  </div>
</div>
