

<div class="share-section" style="padding:16px 24px;">

  <div style="padding:0 0 16px 0">
    <b>Love playing Commonology? Refer your friends by sharing your personalized link!</b>
  </div>

  <div id="share-link" style="padding:8px;border:1px solid #0095da;margin:4px 0;background:white;border-radius: 4px;color:black; text-decoration: none;">https://commonologygame.com/play/{{ player_code }}</div>

  {% if not no_button %}
  <button id="copy-button" class="w3-button w3-round cg-blue w3-border cg-border-blue" onclick="copyToClipboard('#share-link');">
    Copy Link&nbsp&nbsp&nbsp<i class="far fa-copy"></i>
  </button>
  <div id="copy-msg" style="display:none;">Link copied!</div>
  <script>
  function copyToClipboard(tgt) {
    var $temp = $("<input>");
    $("body").append($temp);
    $temp.val($(tgt).text()).select();
    document.execCommand("copy");
    $temp.remove();
    $("#copy-msg").css("display", "inline");
  }
  </script>
  {% endif %}

  <div class="refer-help" style="font-style:italic;font-size: 12px;padding-top:24px">
    <a href="https://commonologygame.com/invite/">Referral QR</a></div>
    <span style="font-weight:bold;font-size:18px;color:#0095da">YES!</span> forwarding the game email still works and will count toward your total referrals!
  </div>
</div>

<a href="https://commonologygame.com/invite/" style="text-decoration:black;">
<button style="margin:16px 0;text-align:left;padding:16px 32px;border-radius:0;background:#f7f8f9;border:none;font-family:inherit;">
    <div style="padding-right:12px;display:table-cell;vertical-align: middle;">
      <img src="https://staging.commonologygame.com/static/img/mug-hot-solid.png" width="35px" style="padding-bottom: 2px;" alt="mug icon">
    </div>
    <div style="font-weight:bold;margin-bottom:8px;color:black;display:table-cell;">
      We're giving away Commonology coffee mugs! <u>Click Here</u> to learn how to redeem yours.
      <div class="supplies-note" style="margin-top: 4px;font-style: italic;font-weight: normal;color:#9e9e9e;font-size: 12px;">
      Only while supplies last - act fast!
      </div>
    </div>
</button>
</a>