<!--users/templates/users/base.html-->

{% extends 'base.html' %}
{% load static %}

{% block navbar %}
  {% include 'components/navbar.html' %}
{% endblock %}

{% block app_style %}
  <link rel="stylesheet" href="{% static 'css/components/navbar.css' %}">
  <link rel="stylesheet" href="{% static 'css/users/base.css' %}">
{% endblock %}

{% block content %}

  <div class="content">

    <br/><br/>

    {# --- Simple card-on-screen view with default card --- #}
    {% block card %}
    {% include 'users/cards/base_users_card.html' with header="Welcome to Commonology" button_label="Ok"%}
    {% endblock %}

  </div>

{% endblock %}