{% extends 'base.html' %}
{% load static %}
{% load render_table from django_tables2 %}

{% block page_style %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
{% endblock %}

{% block navbar %}
  {% include 'components/navbar.html' %}
{% endblock %}

{% block content %}
    <div class="w3-padding-16"></div>
    <div class="w3-padding-16">
    <p><h2>Referrers</h2></p>
    {% render_table table %}
    </div>
    <div class="w3-padding-16"></div>
    <div class="w3-padding-16"></div>
{% endblock %}
