
{% extends 'users/base.html' %}
{% load static %}

{% block page_style %}
  <link rel="stylesheet" href="{% static 'users/css/form_style.css' %}">
  <style>
  .user-msg {
    {#font-size: 16px;#}
    font-weight: bold;
    padding: 12px;
    text-align: center;
    border: solid 1px darkseagreen;
    border-radius: 5px;
    background: #e2f6f1;
    color: #396049;
  }
  </style>

{% endblock %}

{% block content %}

<div class="content">
    <br/><br/>
    {% include 'users/cards/base_users_card.html' with header="Register" %}
  </div>

{% endblock %}
