{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-EFH7JNXR5D"></script>
  {% if not debug %}
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-EFH7JNXR5D');
  </script>
  {% endif %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/w3.css' %}">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/htmx/1.2.1/htmx.min.js" integrity="sha512-Xsn9EFspscbf/oX268GrUeBgvaVWik7iwUqqwCiEdBWiPHEIpDekW3OSFL61BZXxSKnklTPA5RPWqRR99rJoSA==" crossorigin="anonymous"></script>
  {% block base_style %}{% endblock %}
  {% block app_style %}{% endblock %}
  {% block page_style %}{% endblock %}
  <title>{% block title %}{% endblock %}</title>
</head>

<body>
{% block navbar %}{% endblock %}
{% block content %}{% endblock %}
{% block scripts %}{% endblock %}
</body>
<script>
  document.body.addEventListener('htmx:configRequest', (event) => {
  event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
})
</script>
</html>