{% extends 'game/components/base_question_card.html' %}
{% load static %}

{% block form_or_results %}

  <div class="result-card results w3-row w3-padding-16">

      <div class="spacer w3-col m1">&nbsp</div>
      <div class="w3-col m10 w3-padding-16" >

        {% for choice in q.choices %}
          <div class="w3-row response-item w3-padding w3-round">
          {{ choice }}
          </div>
        {% endfor %}

        <div class="field-wrapper">
        {{ form.question_id }}
        {{ form.raw_string }}
          <div class="errors" style="font-size:14px;{% if q.choices %}max-width:420px;margin:auto;{% endif %}">
            {{ form.raw_string.errors }}
            {{ form.non_field_errors }}
          </div>
        </div>


      </div>
       <div class="spacer w3-col m1">&nbsp</div>
    </div>

{% endblock %}