{% extends 'cards/base_card.html'%}


{% block card_extras %}

  <div class="referrals" style="font-weight:bold;padding-bottom: 16px;">
  {#  <div class="rewards-program-details w3-padding-top" style="font-size:20px;color:#0095da">#}
  {#    Earn rewards by referring your friends#}
  {#  </div>#}
  <div class="rewards-program-details">
  {#    <div class="reward-item w3-padding-16 w3-cell-row">#}
  {#      <div class="w3-cell w3-cell-middle w3-right-align" style="padding-right:12px;width:50px;">#}
  {#        <i class="fas fa-money-bill-wave fa-2x" style="color:#237073  "></i>#}
  {#      </div>#}
  {#      <div class="w3-cell">#}
  {#      For each friend you refer you'll be entered into our monthly $100 raffle.#}
  {#      </div>#}
  {#    </div>#}
      <div class="reward-item w3-padding-24 w3-cell-row">
        <div class="w3-cell w3-cell-middle w3-right-align" style="padding-right:12px;width:50px;">
          <i class="fas fa-mug-hot fa-2x" style="color:#f26649;"></i>
        </div>
        <div class="w3-cell">
        When you refer {{ reward_threshold }} friends we'll send you this groovy Commonology coffee mug!
          <div class="supplies-note sm-grey-italic" style="margin-top: 4px;">
            Only while supplies last - act fast!
          </div>
        </div>
      </div>

      <div class="cat-img w3-padding w3-center">
          <img src="{% v_static 'img/lucci-mug-canhaz.png' %}" width="100%">
      </div>

      <div class="w3-padding-16 w3-center">
        {% if can_claim %}
        <a href="{% url 'claim' %}">
          <button class="w3-button cg-salmon w3-round-xxlarge" style="width:60%">
            Claim your Mug!
          </button>
        </a>
        {% endif %}
      </div>

    </div>
  </div>

  <div style="margin:0 -24px;padding-bottom: 24px;background: #f7f8f9">
    {% include 'users/components/referral_link_banner.html' %}
  </div>

  <div style="margin:0 -24px;padding: 8px;">
    <div class="referrals w3-padding-large">
    <div class="refer-count w3-padding-16" style="font-weight:bold;">
    You have referred <span style="font-weight:bold;color:#0095da;font-size:22px;">{{ referral_count }}</span> friend{% if referral_count != 1 %}s{% endif %} so far:
    </div>
      <div class="players-referred w3-padding-16">
      {% for p in players_referred %}
        <div>{{ p.display_name }}</div>
      {% endfor %}
      </div>
      <div id="referral-note" class="w3-padding-16 sm-grey-italic">
        Friends you refer will appear here after they play.
        A referral only counts after they play at least one game.
        We'll email you once you hit {{ reward_threshold }} referrals. Haven't heard from us?
        Think we're missing someone?
        <a href="{% url 'contact' %}" style="white-space: nowrap">Contact Us</a>
      </div>
     </div>
  </div>
{% endblock %}
