{% extends 'users/cards/base_users_card.html' %}
{% load static %}

{% block card_extras %}

  <button class="login-google w3-button w3-input w3-margin-bottom w3-border-0" style="padding:0">
    <a href="{% url "social:begin" "google-oauth2" %}" class="w3-center w3-block w3-round w3-border" style="text-decoration: none;">
    <img src="{% static 'img/google_icon_margins.svg' %}" class="login-google">
    <span class="login-google">Login with Google</span>
    </a>
  </button>

  <a class="w3-block w3-center w3-padding-small"
   href = "{% url 'password_reset' %}">Forgot password?</a>
  <a href="{% url 'join' %}" class="w3-center w3-block w3-padding" style="border:0;">Don't have an account? Join us!</a>

  {% if not user.is_authenticated %}
  <link rel="stylesheet" href="{% static 'users/css/login_join.css' %}">
  {% endif %}

{% endblock %}