{% load navbar_extras %}
{% load static %}

<div class="w3-top">
    <div id="navbar" class="w3-bar w3-medium">
      <div class="w3-cell-row">
        <div class="w3-cell w3-mobile" style="width:6%;"></div>
        <div class="w3-cell w3-cell-middle">
          <a href="{% url 'home' %}">
            <img class="navbar-logo" src="{% static 'img/logo.svg' %}">
          </a>
        </div>
        <div class="w3-cell w3-right w3-cell-middle">

          {% include 'components/navbar-dropdown.html' %}

        </div>
        <div class="w3-cell w3-mobile" style="width:6%;"></div>
      </div>
    </div>
</div>

{% login_modal request %}

<script src="{% static 'js/navbar.js' %}"></script>