{% load navbar_extras %}
{% load static %}

<div class="w3-top">
    <div id="navbar" class="w3-bar w3-light-gray w3-xlarge">
      <div class="w3-cell-row">
        <div class="w3-cell w3-cell-middle" style="width:5%;">&nbsp</div>
        <div class="w3-cell w3-cell-middle" style="width:75%;">
          <img class="navbar-logo" src="{% static 'img/logo.png' %}">
        </div>
        <div class="w3-cell w3-right" >

          <div class="navbar-dropdown w3-dropdown-click w3-hover-none">
            <i class="navbar-dropdown-icon fas fa-caret-down fa-2x"
               style="color:orange;width:10%;"
               onclick="showNavbar()"></i>
            <div id="navbar-dropdown-content"
                 class="navbar-dropdown w3-dropdown-content w3-bar-block w3-border w3-round" style="overflow: hidden;">
              <a href="{% login_logout_url %}" class="w3-bar-item w3-button">Login</a>
              <a href="#" class="w3-bar-item w3-button">Invite Friends</a>
              <a href="#" class="w3-bar-item w3-button">Logout</a>
            </div>
          </div>
{##}
{#          <div class="w3-dropdown-hover">#}
{#           <button class="w3-button">Hover Over Me!</button>#}
{#          <div class="w3-dropdown-content w3-bar-block w3-border">#}
{#            <a href="#" class="w3-bar-item w3-button">Link 1</a>#}
{#            <a href="#" class="w3-bar-item w3-button">Link 2</a>#}
{#            <a href="#" class="w3-bar-item w3-button">Link 3</a>#}
{#          </div>#}
{#        </div>#}

        </div>
        <div class="w3-cell w3-cell-middle" style="width:5%;">&nbsp</div>
      </div>
    </div>
</div>

{% login_modal request %}

<script>
function showNavbar(e) {
  e.stopPropagation()
  document.getElementById("navbar-dropdown-content").classList.add("w3-show");
}
{#window.onclick = function(event) {#}
{#  document.getElementById("navbar-dropdown-content").classList.remove("w3-show");#}
{#}#}
</script>
