{% extends 'leaderboard/base.html' %}

{% block content %}

<!-- Common Leaderboard/Results -->
<div class="w3-round w3-round w3-margin-top w3-margin-bottom" style="position: relative;background: white; border: 1px solid lightgrey; border-top: 5px solid #0095da;">
  {% include 'leaderboard/components/game_date_nav.html' with view="leaderboard" %}
</div>

<div class="w3-round w3-round w3-margin-bottom w3-padding w3-padding-16" style="position: relative;background: white; border: 1px solid lightgrey; border-top: 5px solid #0095da;font-size: 16px;font-weight:bold;font-style: normal">
  {% include 'leaderboard/components/my_score.html' %}
</div>

{% endblock %}