{% extends 'base.html' %}
{% load static %}

{% block app_style %}
  <link rel="icon" href="{% static "img/favicon.ico" %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bungee+Shade">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Denk+One">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600">
  <link rel="stylesheet" href="{% static "leaderboard/css/base.css" %}">
  <link rel="stylesheet" href="{% static "css/components/navbar.css" %}">
{% endblock %}
{% block navbar %}
  {% include 'components/navbar.html' %}
{% endblock %}