{% extends 'leaderboard/base.html' %}
{% load static %}

{% block title %}Commonology | Leaderboard{% endblock %}

{% block content %}

<div class="content" >

  <div class="series-header w3-round w3-padding-large w3-border w3-margin-top w3-margin-bottom"
       style="background: white;">
  <img src="{% static 'img/logo.svg' %}">
  </div>

  {% include 'mail/sponsor_component.html' %}

  <div class="w3-round w3-round" style="position: relative;background: white; border: 1px solid lightgrey; border-top: 5px solid #0095da;">

  {% include 'leaderboard/components/game_header.html' with view="leaderboard" %}
  {% include 'leaderboard/components/leaderboard_search.html' %}

  {# Lazy Leaderboard #}
  <div
       id="component-leaderboard"
       hx-get="/leaderboard/htmx/?game_id={{ game_id }}&series={{ series_slug|default:"" }}"
       hx-trigger="load">
    <img class="htmx-indicator" width="50" style="margin-top: 100px;" src="{% static 'img/spinners/puff.svg' %}"/>
  </div>
  </div>

</div>
{% endblock content %}