{% extends 'leaderboard/base.html' %}

{% block title %}Commonology | Leaderboard{% endblock %}

{% block content %}

<div class="content" >

  {% include 'leaderboard/components/leaderboard_header.html' with view='leaderboard' %}

  <div class="cg-card cg-border-grey cg-top-blue">
  {% include 'leaderboard/components/leaderboard_search.html' %}

  {# Lazy Leaderboard #}
  <div class="w3-center"
       id="component-leaderboard"
       hx-get="/leaderboard/htmx/?game_id={{ game_id }}&series={{ series_slug|default:"" }}"
       hx-trigger="load">
    <img class="htmx-indicator" width="50" style="margin: 50px auto;" src="{% v_static 'img/spinners/puff.svg' %}"/>
  </div>
  </div>

</div>
{% endblock content %}