/* Leaderboard, Results, Dashboard Style */
.leaderboard {
    font-family: "Poppins", "Verdana", sans-serif;
}
h1.leaderboard {
    margin: 0;
}
.w3-button:hover {
    color: white!important;
    background: #0e8df2!important;
}
.name {
    width: 65%;
    word-wrap: break-word;
}
@media only screen and (max-width: 767px) {
  h1.leaderboard {
    font-size: 6vw;
  }
  h3.leaderboard {
    font-size: 4vw;
  }
  #following-drp {
}
}
