div.mobile-q-img {
  display: block!important;
}
div.desktop-q-img {
  display: none!important;
  color:blue;
}
div.response-item {
  border-color:#f26649;
  background: #f7f8f9;
  margin: 4px auto;
  max-width:420px;
}
div.response-header {
  background: #fff;
  border: #f1f2f3 solid 1px;
  padding: 8px 15px!important;
}
div.answer-score {
  width:50px;
  font-weight:bold;
  color:#f26649;
  padding:0 4px;
  text-align:right;
}
a.more-button {
  text-decoration: None;
  color: #f26649;
}
a:hover {
  cursor:pointer;
}
div.player-answer {
  border: #2a9fbc 1px solid;
}
span.player-answer {
  color: #2a9fbc;
  font-style: italic;
  font-size: 13px;
  max-width: 400px;
  margin: -4px auto 2px;
  padding: 0 8px;
  text-align: right;
}
div.question-comment-container {
  font-size:14px
}
div.question-comment {
  margin:8px auto;
}
textarea {
  height:40px!important;
  padding-top:12px;
  border:none;
  width:90%;
  resize:none;
  display:inline-block;
}
textarea:focus, input:focus{
  outline: none;
}


@media only screen and (max-width: 767px) {
  div.mobile-q-img {
  display: none!important;
}
  div.desktop-q-img {
  display: block!important;
}
}