server {
    	server_name <domain name that you want to forward>;


	listen 80 default_server;
	listen [::]:80 default_server;

	listen 443 ssl default_server;
	listen [::]:443 ssl default_server;

	# root /var/www/html;

	# location / {
	# 	index index.html;
	# 	try_files $uri $uri/ =404;
	#}

	location / {
		rewrite ^ https://commonologygame.com$request_uri? permanent; 
		# try_files $uri $uri/ =404;
	}


	# location /leaderboard {
	# 	rewrite ^ https://commonologygame.com$request_uri? permanent; 
	#}


        # listen [::]:443 ssl ipv6only=on; # managed by Certbot
        # listen 443 ssl; # managed by Certbot
        ssl_certificate /etc/letsencrypt/live/friendshipfeud.com/fullchain.pem; # managed by Certbot
        ssl_certificate_key /etc/letsencrypt/live/friendshipfeud.com/privkey.pem; # managed by Certbot
        include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
        ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot
}

server {
    	server_name quizitive.com;


	listen 80;

	listen 443 ssl;

	root /var/www/html;

	location / {
		index index.html;
		try_files $uri $uri/ =404;
	}


       # listen [::]:443 ssl ipv6only=on; # managed by Certbot
       #listen 443 ssl; # managed by Certbot
       ssl_certificate /etc/letsencrypt/live/quizitive.com/fullchain.pem; # managed by Certbot
       ssl_certificate_key /etc/letsencrypt/live/quizitive.com/privkey.pem; # managed by Certbot
       include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
       ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot
}
