
# REMEMBER TO UNLINK sites-enabled/default


server {
       listen 80 default_server;
       return 301 https://$host$request_uri;
}

server {
        server_name staging.commonologygame.com;


        if ($host != "staging.commonologygame.com") {
	  return 301 https://staging.commonologygame.com$request_uri;
	}


        listen 443 ssl;
        index index.html index.htm index.nginx-debian.html;


	set $project_name commonology;
	set $project_dir /home/django/$project_name;

    	location = /favicon.ico { access_log off; log_not_found off; }
    	location /static/ {
    	    root $project_dir;
    	}
	location /media/ {
	    root $project_dir;
	}

    	location / {
    	    include proxy_params;
    	    proxy_pass http://unix:$project_dir/$project_name.sock;
    	}

    # listen [::]:443 ssl ipv6only=on; # managed by Certbot
    #listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/staging.commonologygame.com/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/staging.commonologygame.com/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot

}

