/* --- Login/Join Forms --- */

/* Slightly smaller on grey backround, like a door */
.w3-modal-content {
  max-width: 380px!important;
}
body {
  background: #fbfbfb;
}

/* Login with Google */
img.login-google {
  max-height:36px;
  max-width:36px;
}
span.login-google {
  margin-top: 2px;
}