{% extends 'game/base.html' %}
{% load component_tags %}

{% block page_style %}
  <link rel="stylesheet" href="{% v_static 'users/css/form_style.css' %}">
  <link rel=stylesheet href="{% v_static 'leaderboard/css/results.css' %}">
{% endblock %}

{% block title %}Commonology | {{ title }}{% endblock %}

{% block content %}

  <div class="content" style="max-width: 500px;">

    <br/><br/>

    {# --- Simple card-on-screen view with default card --- #}
    {% block card %}
    {% include card_template|default:"cards/base_card.html" %}
    {% endblock %}

    {% if show_sponsors %}
    {% sponsor_component_cards %}
    {% endif %}

  </div>

{% endblock %}