{% extends 'base.html' %}
{% load static %}

{% block page_style %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="{% static 'js/charts.js' %}" type="text/javascript"></script>
{% endblock %}

{% block navbar %}
  {% include 'components/navbar.html' %}
{% endblock %}

{% block content %}
  <div class="content">

    <div class="w3-padding-16"></div>
    {% include 'cards/base_card.html' with header="Player/Member Growth Weekly" chart=chart_1 custom_message="Weekly player counts, of whom are members"%}

    <div class="w3-padding-16"></div>
    {% include 'cards/base_card.html' with header="Player/Member Growth 4-Week-Average" chart=chart_2 custom_message="4-week-average player counts, of whom are members" %}

    <div class="w3-padding-16"></div>
  </div>
{% endblock %}
