{% extends "admin/base_site.html" %}
{% load i18n %}
{% load static %}

{% block branding %}
<h1 id="site-name" style="font-family:Roboto;font-weight:300;line-height:1;"><a href="{% url 'admin:index' %}">Commonology Administration</a></h1>
{% endblock %}

{% block content %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="{% static 'js/charts.js' %}" type="text/javascript"></script>
  <link rel="stylesheet" href="{% static 'css/w3.css' %}">
{#  <link rel="stylesheet" href="{% static 'css/base.css' %}?v={% bn %}">#}

  <div id="content-main">
{#    {% include "admin/app_list.html" with app_list=app_list show_changelinks=True %}#}

    <div class="w3-padding-16"></div>
    {% include 'cards/base_card.html' with header="Player/Member Growth Weekly" chart=chart_1 custom_message="Weekly player counts, of whom are members"%}

    <div class="w3-padding-16"></div>
    {% include 'cards/base_card.html' with header="Player/Member Growth 4-Week-Average" chart=chart_2 custom_message="4-week-average player counts, of whom are members" %}

    <div class="w3-padding-16"></div>
  </div>
{% endblock %}
