{% extends 'base.html' %}
{% load static %}

{% block title %}Ted was here.{% endblock %}

{% block content %}
    <div class="w3-row" style="padding: 16pt"></div>
    <div class="w3-row">
        <div class="w3-container w3-quarter spacer">&nbsp</div>
        <div class="w3-blue w3-container w3-half">
            <h1>Hello!</h1>
            <p></p>
        </div>
        <div class="w3-container w3-quarter spacer">&nbsp</div>
    </div>
    <div class="w3-row">
        <div class="w3-container w3-quarter spacer">&nbsp</div>
        <div class="w3-blue w3-padding w3-container w3-half">
            <form method="post">
                {% csrf_token %}
                {{ form }}
                <button class="w3-button w3-round w3-white w3-border w3-border w3-margin">Submit</button>
                {{ msg }}
            </form>
        </div>
        <div class="w3-container w3-quarter spacer">&nbsp</div>
    </div>
{% endblock content %}